body {
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: cover;
    text-align: center;
}

#login_event {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 2% auto 0 auto;
    background: rgb(27, 58, 69);
    opacity: 0.5;
    transition: opacity 1s,border-radius 1s;
}

#text {
    font-size:14px;
    font-weight:bold ;
    color:white;
    position: relative;
    top:35%;
}

#login_form {
    width: 400px;
    height: 360px;
    border-radius: 5px;
    background: rgba(27, 58, 69, 0.5);
    position: absolute;
    top:50%;
    left: 50%;
    margin: -180px 0 0 -200px;
    opacity: 0;
}

#login_title{
    color:white;
    margin: 40px;
}

input {
    border: 0px;
    outline: none;
    display: block;
}

#username,#password{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 0 10px;
    color:white;
    background: rgba(255,255,255,0.2);
}

#username::-webkit-input-placeholder,#password::-webkit-input-placeholder{
    color: white;
}

.btn{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    margin: 40px auto 0 auto;
    color:white;
    background: rgb(62, 121, 187);
}

#username:hover,#password:hover{
    box-shadow:-1px 1px 0.2px 0.2px rgb(0, 0, 0);
}

#username:focus,#password:focus{
    background: rgba(0,0,0,0);
    box-shadow:-1px 1px 0.2px 0.2px rgb(0, 0, 0);
}

.btn:hover{
    cursor: pointer;
    background: rgb(47, 106, 187);
}
.btn:focus {
    background: rgb(34, 84, 187);
}

.label{
    color:white;
    margin: 15% 20px auto auto ;
    display:inline;
    float:right;
}

.label:hover{
    cursor: pointer;
    color:darkblue;
}

#regist{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    display:none;
}

#regist_form{
    position: relative;
    top:50%;
    left: 50%;
    background: rgb(30,62,139);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin: -200px 0 0 -200px;
}

#regist_title{
    padding: 20px 0;
    background: rgb(223,226,231);
    color: rgb(23,67,139);
}

#regist_form form input{
    border: 0px;
    outline: none;
    display: block;
}

.regist_input{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 0 10px;
    color:rgb(216,231,253);
    background: rgb(26,55,121);
    box-shadow: 0px 0px 0 1px rgb(26,55,121);
}

.regist_input::-webkit-input-placeholder{
    color:rgb(216,231,253);
}

#regist_form form input[name="btn"]{
    font-size: 13px;
    font-weight: bold;
    width: 260px;
    height: 30px;
    border-radius: 5px;
    margin: 40px auto 0 auto;
    color:rgb(30,62,139);
    background: rgb(239, 240, 244);
    box-shadow: 0px 0px 0 1px white;
}
.regist_input:hover {
    box-shadow: -1px 1px 0 0.1px black;
}

.regist_input:focus{
    background: rgba(26,55,121,0);
    box-shadow: -1px 1px 0 0.1px black;
}

#regist_form form input[name="btn"]:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0;
}

#regist_form form input[name="btn"]:focus {
    box-shadow: 0 0 0 0;
    background: rgba(239, 240, 244,0.8);
}