.page{
    margin: 1% auto 0 auto;
    width: 98%;
    height: 95%;
    background: white;
    outline:0.1px solid rgb(200,200,200);
}
.pageHead{
    border: 0;
    outline:0.1px solid rgb(200,200,200);
    background: linear-gradient(rgb(250,250,250),rgb(220,220,220));
    height: 30px;
}
.pageHead p{
    font-size:15px;
    font-weight: bold;
    padding:5px 0 0 20px;
}